{% extends 'base.html.twig' %}

{% block title %}
Mon profil
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Mon profil</h3>
    </div>
</div>

<form action="{{ path('profil')}}" method="post">
    {%  if (erreur) %} {{ erreur }} {% endif %}

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="classe">Classe:</label>
            <input type="text" disabled="disabled" class="form-control" value="{{ utilisateur.classe }}" />
        </div>
        <div class="form-group col-md-3">
            <label for="nom">Nom:</label>
            <input type="text" disabled="disabled" class="form-control" value="{{ utilisateur.nom }}" />
        </div>
        <div class="form-group col-md-3">
            <label for="prenom">Prénom:</label>
            <input type="text" disabled="disabled" class="form-control" value="{{ utilisateur.prenom }}" />
        </div>
        <div class="form-group col-md-3">
            <label for="mail">Mail:</label>
            <input type="text" disabled="disabled" class="form-control" value="{{ utilisateur.mail }}" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="classe">Sexe:</label>
            <input type="text" disabled="disabled" class="form-control" value="{% if utilisateur.sexe == 1 %} Féminin {%  else %} Masculin {% endif %}" />
        </div>
        <div class="form-group col-md-6">
            <label for="situation_codelangage">Parcours: </label>
            <input type="text" disabled="disabled" class="form-control" value="{{ utilisateur.parcoursLibelle }}" />
        </div>
        <div class="form-group col-md-3">
            <label for="utilisateur_numexam">Numéro examen:</label>
            <input type="text" id="utilisateur_numexam" name="utilisateur_numexam" class="form-control" value="{{ utilisateur.numexamen }}" />
        </div>
    </div>


    <input type="submit" id="submit" name="submit" class="btn btn-success" value="Valider" />
</form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('app/bootstrap/js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('app/bootstrap/js/bootstrap-datepicker.fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('app/js/profil.edit.js') }}"></script>
{% endblock %}