{% extends 'base-prof.html.twig' %}

{% block title %}
    Liste des situations
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Liste des situations</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <form action="" method="post" id="formRecherche">
        <div class="form-inline">
            <label for="classeSearch">Classe: </label>
            <select id="classeSearch" name="classeSearch" class="form-control">
                <option value='Toutes' {% if classe=='Toutes' %}selected{% endif %} >Toutes</option>
                <option value='B1' {% if classe=='B1' %}selected{% endif %} >B1</option>
                <option value='B2' {% if classe=='B2' %}selected{% endif %} >B2</option>
            </select>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Recherche" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
    <br />

    <div class="row">
        <div id="update-message" style="display: none" class="col-md-12"></div>
    </div>

    <table class="table table-condensed table-bordered table-striped">
        <thead>
        <tr>
            <th width="24%"></th>
            <th>Libellé</th>
            <th>Descriptif</th>
            <th width="4">E4</th>
            <th width="80">Activités</th>

            <!-- SISR -->
            <th width="80">OS</th>
            <th width="120">Service</th>
            <!-- SLAM -->
            <th width="80">Langage</th>
            <th width="120">Framework</th>
            <th width="120"></th>
        </tr>

        </thead>
        <tbody>
        {% for utilisateurSituations in utilisateursSituations.utilisateurs %}
            {% set nbSituations = utilisateurSituations.situations|length %}
            {% set nbRecommendations = (utilisateurSituations.verifierSituation is null ? 0:1) %}
            <tr class="tr_caption">
                <td colspan="10" {{ (nbSituations==0 ? "class='td_warning'" : "") }}>
                    {%  if nbSituations == 0 %}
                        <i class="fas fa-exclamation-triangle fa-2x"></i>&nbsp;{{  utilisateurSituations.utilisateur.nomlong }} ({{  utilisateurSituations.utilisateur.parcoursnomenclature }}): AUCUNE SITUATION
                    {% else %}
                        {{  utilisateurSituations.utilisateur.nomlong }} ({{  utilisateurSituations.utilisateur.parcoursnomenclature }})
                    {% endif %}
                </td>
            </tr>
            {%  set cptSituation = 0 %}
            {% for situation in utilisateurSituations.situations %}
                {%  set cptSituation = cptSituation +1 %}
                <tr>
                    {% if cptSituation == 1 %}
                        <td class='td_warning' rowspan='{{ nbSituations }}'>{% if nbRecommendations > 0 %}<ul>
                                {% for recommandations in utilisateurSituations.verifierSituation %}
                                    <li>{{ recommandations }} </li>
                                {% endfor %}
                                </ul>{% endif %}
                        </td>
                    {% endif %}
                    <td>{{  situation.libelle }}</td>
                    <td>{{  situation.descriptif }}</td>
                    <td>{% if situation.refe4 %} <b>Oui</b> {% else %} Non {% endif %}</td>

                    <td {% if situation.activiteCount < 5 %} class="td_warning" {% endif %}>{{ situation.activiteCount }}
                    </td>
                    <!-- SISR -->
                    <td>{%  if situation.codeos %} {{  situation.codeos.libelle }} {% else %} - {% endif %}</td>
                    <td>{%  if situation.codeservice %} {{  situation.codeservice.libelle }} {% else %} - {% endif %}</td>
                    <!-- SLAM -->
                    <td>{%  if situation.codelangage %} {{  situation.codelangage.libelle }} {% else %} - {% endif %}</td>
                    <td>{%  if situation.codeframework %} {{  situation.codeframework.libelle }} {% else %} - {% endif %}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{{  path('prof_situation_edit', {'id': situation.reference, 'user': utilisateurSituations.utilisateur.login}) }}" >
                            <i class="fa fa-pencil-alt" aria-hidden="true"></i>&nbsp;Voir</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="10">Aucune situation n'a été trouvé.</td></tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
