{% extends 'base-prof.html.twig' %}

{% block title %}
    Liste des stages
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Liste des stages</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <form action="" method="post" id="formRecherche">
        <div class="form-inline">
            <label for="classeSearch">Classe: </label>
            <select id="classeSearch" name="classeSearch" class="form-control">
                <option value='Toutes' {% if classe=='Toutes' %}selected{% endif %} >Toutes</option>
                <option value='B1' {% if classe=='B1' %}selected{% endif %} >B1</option>
                <option value='B2' {% if classe=='B2' %}selected{% endif %} >B2</option>
            </select>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Recherche" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
    <br />

    <table class="table table-condensed table-bordered table-striped">
        <thead>
        <tr>
            <th width="20%">Vérification</th>
            <th width="20">Année</th>
            <th width="24%">Libellé</th>
            <th width="20%">Descriptif</th>
            <th width="25%">Intitulés et activités</th>
            <th></th>
        </tr>

        </thead>
        <tbody>
        {% for utilisateurStages in utilisateursStages.utilisateurs %}
            {% set nbStages = utilisateurStages.stages|length %}
            {% set nbRecommendations = (utilisateurStages.verifierStage is null ? 0:1) %}
            <tr class='tr_caption'>
                <td colspan="6" {{ (nbStages==0 ? "class='td_warning'" : "") }}>
                    {%  if nbStages == 0 %}
                        <i class="fa fa-exclamation-triangle fa-2x"></i>&nbsp;{{  utilisateurStages.utilisateur.nomlong }} ({{  utilisateurStages.utilisateur.parcoursnomenclature }}) : AUCUN STAGE
                    {% else %}
                        {{  utilisateurStages.utilisateur.nomlong }} ({{  utilisateurStages.utilisateur.parcoursnomenclature }})
                    {% endif %}
                </td>
            </tr>
            {%  set cptStage = 0 %}
            {% for stage in utilisateurStages.stages %}
                {%  set cptStage = cptStage +1 %}
                <tr>
                    {% if cptStage == 1 %}
                        <td class='td_warning' rowspan='{{ nbStages }}'>{% if nbRecommendations > 0 %}<ul>
                            {% for recommandations in utilisateurStages.verifierStage %}
                                <li>{{ recommandations }} </li>
                            {% endfor %}
                            </ul>{% endif %}
                        </td>
                    {% endif %}
                    <td>{{ stage.annee }}</td>
                    <td>{{ stage.libellecourt }}</td>
                    <td>{{ stage.descriptif }}</td>
                    {% if stage.arrayintitulesactivites is null %}
                    <td class='td_warning'>Aucun intitulé ni activités</td>
                    {%  else %}
                    <td>
                        <ul>
                        {% for arrayIntitulesActivites in stage.arrayintitulesactivites %}
                            {% set nbActivite = arrayIntitulesActivites["nbActivite"] %}
                            <li {{ (nbActivite < 2 ? "class='li_warning'" : "")  }}>Intitulé avec {{ nbActivite }} activités</li>
                        {% endfor %}
                        </ul>
                    </td>
                    {% endif %}
                    <td>
                        <a class="btn btn-primary btn-sm" href="{{  path('prof_stage_edit', {'id': stage.id, 'user': utilisateurStages.utilisateur.login}) }}" >
                            <i class="fa fa-pencil-alt" aria-hidden="true"></i>&nbsp;Voir</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="6">Aucune stage n'a été trouvé.</td></tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
