{% extends 'base.html.twig' %}

{% block title %}
    Modification de la situation
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                    Modification de la situation '{{ situation.libelle }}'
            </h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <p>
        <a class="btn btn-outline-primary" href="{{  path('situation_index') }}">Retourner à la liste</a>
    </p>

    {% if recommandations %}
        <div class="row">
            <div class="alert alert-danger alert-dismissible fade show col-md-12" role="alert">
                <h4 class="alert-heading">Corrections à apporter</h4>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <hr>
                <p>Vous devez corriger les éléments suivants:
                <ul>
                    {% for recommandations in recommandations %}
                        <li>{{ recommandations }} </li>
                    {% endfor %}
                </ul>
                </p>
            </div>
        </div>
    {%  endif %}

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="description-tab" href="#description" data-toggle="tab" role="tab" aria-controls="description" >Description</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="activite-tab" href="#activite" aria-controls="activite" role="tab" data-toggle="tab">Activités</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="commentaires-tab" href="#commentaires" aria-controls="commentaires" role="tab" data-toggle="tab">Commentaires</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="description">
            <form action="{{ path('situation_edit', {'id':situation.reference}) }}" method="post">
                {{ form_errors(form) }}
                {{ form_row(form._token) }}

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="appbundle_situation_libelle">Libellé: </label>
                        {{ form_widget(form.libelle, {'attr': {'placeholder': 'Libellé de la situation'}}) }}
                    </div>
                    <div class="form-group col-md-8">
                        <label for="appbundle_situation_descriptif">Descriptif: </label>
                        {{ form_widget(form.descriptif) }}
                    </div>
                </div>

                {% if idParcours == 1 %}  <!-- SISR -->
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="appbundle_situation_codelangage">Système d'exploitation: </label>
                            {{ form_widget(form.codeos) }}
                        </div>
                        <div class="form-group col-md-8">
                            <label for="appbundle_situation_codeframework">Service: </label>
                            {{ form_widget(form.codeservice) }}
                        </div>
                    </div>
                {% elseif idParcours == 2 %}  <!-- SLAM -->
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="appbundle_situation_codelangage">Langage: </label>
                        {{ form_widget(form.codelangage) }}
                    </div>
                    <div class="form-group col-md-8">
                        <label for="appbundle_situation_codeframework">Framework: </label>
                        {{ form_widget(form.codeframework) }}
                    </div>
                </div>
                {% else %}  <!-- Parcours non défini -->
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="radioParcours" id="radioParcoursSLAM" value="2"  disabled
                            {% if situation.typeSituation == 2 %} checked {% endif %}
                            > Développeur
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="radioParcours" id="radioParcoursSISR" value="1" disabled
                                    {% if situation.typeSituation == 1 %} checked {% endif %}
                            > Réseau
                        </label>
                    </div>

                    <div id="divParcoursSISR"
                            {% if situation.typeSituation == 2 %} style="display: none;" {% endif %}
                         >
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="situation_codelangage">Système d'exploitation: </label>
                                {{ form_widget(form.codeos) }}
                            </div>
                            <div class="form-group col-md-8">
                                <label for="appbundle_situation_codeframework">Service: </label>
                                {{ form_widget(form.codeservice) }}
                            </div>
                        </div>
                    </div>

                    <div id="divParcoursSLAM"
                            {% if situation.typeSituation == 1 %} style="display: none;" {% endif %}
                    >
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="control-label required" for="appbundle_situation_codelangage">Langage: </label>
                                {{ form_widget(form.codelangage) }}
                            </div>
                            <div class="form-group col-md-8">
                                <label class="control-label required" for="appbundle_situation_codeframework">Framework: </label>
                                {{ form_widget(form.codeframework) }}
                            </div>
                        </div>
                    </div>
                {%  endif %}

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="DateDebut">Date de</label>
                        <input type="text" id="situation_datedebut" name="appbundle_situation[datedebut]" required="required" class="form-control" value="{{  situation.datedebut | date("d/m/Y") }}" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="DateFin">à</label>
                        <input type="text" id="situation_datefin" name="appbundle_situation[datefin]" required="required" class="form-control" value="{{  situation.datefin | date("d/m/Y") }}" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="Duree">Durée</label>
                        <input id="duree" name="duree" class="form-control" disabled="disabled" type="text" value="0 semaines">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <fieldset class="withborder">
                            <legend>Est-ce une situation obligatoire ?</legend>
                            {% for typology in typologies %}
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input name="mandatory[]"
                                                {% if situation.codePresent(typology.code) %} checked {% endif %}
                                               class="form-check-input" type="checkbox" value="{{ typology.code }}">
                                        {{ typology.libelle }}
                                    </label>
                                </div>
                            {% endfor %}
                        </fieldset>
                    </div>
                </div>

                {%  if situation.login.classe == "B2" %}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <fieldset class="withborder">
                            {% set isSituationE4 = false %}
                            {% set situationE4Disabled = "disabled" %}
                            <legend>Est-ce une situation E4 ?</legend>
                            <input id="situationE4" name="situationE4" type="checkbox"
                                    {% if situation.refe4 %}
                                        {% set isSituationE4 = true %}
                                        {% set situationE4Disabled = "" %}
                                        checked
                                    {% endif %}
                                > Oui

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="">Type de situation: </label>
                                    <input type="radio" name="optionsE4" id="e4_poo" value="1"
                                            {%  if isSituationE4 and situation.refe4.competenceapplication == 1 %} checked {% endif %} {{ situationE4Disabled }} /> Client lourd
                                    <input type="radio" name="optionsE4" id="e4_siteweb" value="2"
                                            {%  if isSituationE4 and situation.refe4.competenceapplication == 2 %} checked {% endif %} {{ situationE4Disabled }} /> Site web
                                    <input type="radio" name="optionsE4" id="e4_mobile" value="3"
                                            {%  if isSituationE4 and situation.refe4.competenceapplication == 3 %} checked {% endif %} {{ situationE4Disabled }} align=""/> Application mobile
                                </div>

                                <div class="form-group col-md-8">
                                    <label for="">Base de données: </label>
                                    <input id="e4_sgdb" name="e4_sgdb" type="checkbox" {{ situationE4Disabled }}
                                            {%  if isSituationE4 and situation.refe4.competencesgbd == 1 %} checked {% endif %}/>
                                    Utilisation de Procédure Sotckées / Trigger
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-1">
                                    <label for="equipe">Effectué : </label>
                                    <select id="e4_equipe" name="e4_equipe" class="form-control" {{ situationE4Disabled }} >
                                        <option value="0" {%  if isSituationE4 and situation.refe4.equipe == 0 %} selected {% endif %}>Seul</option>
                                        <option value="1" {%  if isSituationE4 and situation.refe4.equipe == 1 %} selected {% endif %}>En équipe</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-5">
                                    <label for="situation_libelle">Contexte: </label>
                                    <input type="text" id="e4_contexte" name="e4_contexte" maxlength="80" placeholder="Contexte" class="form-control" value="{{ (isSituationE4 ? situation.refe4.contexte : "") }}" {{ situationE4Disabled }} />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="situation_descriptif">Réalisation: </label>
                                    <textarea id="e4_realisation" name="e4_realisation" maxlength="250" class="form-control" {{ situationE4Disabled }} >{{ (isSituationE4 ? situation.refe4.realisation : "") }}</textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                {% endif %}

                <input type="submit" id="submit" name="submit" class="btn btn-success" value="Valider" />
            </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="activite">
            <div class="checkbox">
                <label>
                    <input id="showSituationActivitiesOnly" type="checkbox"> Afficher uniquement les activités présentes dans la situation
                </label>
            </div>
            <table id="listeActivites" class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th width="20"></th>
                    <th>Nomenclature</th>
                    <th>Libellé</th>
                    <th width="240"></th>
                </tr>
                </thead>
                <tbody>
                {%  set idDomaine = 0 %}
                {% for activite in activites %}
                    {% if (activite.iddomaine.idprocessus.parcourspresent(idParcours)) %}
                        {% if activite.iddomaine.id != idDomaine %}
                            <tr class="tr_caption"><td colspan="4">{{ activite.iddomaine.nomenclature }} - {{ activite.iddomaine.libelle }}</td></tr>
                            {%  set idDomaine = activite.iddomaine.id %}
                        {% endif %}

                        {%  set isPresent = activite.situationReferenced(situation.reference) %}
                        <tr id="activite{{ activite.id }}" activiteId="{{ activite.id }}" class="{%  if not isPresent %}tr_nonactif{% else%}tr_actif{%  endif %}">
                            <td><i id="spanok" style="display: {%  if isPresent %}block{% else%}none{% endif %}" class="fa fa-check" aria-hidden="true"></i></td>
                            <td>{{ activite.nomenclature }}</td>
                            <td>{{ activite.libelle }}</td>
                            <td>
                                <a class="btn btn-danger btn-sm" style="display: {%  if isPresent %}inline{% else%}none{% endif %}" href="#" name="deleteSituationActivite" id="deleteSituationActivite" title="Retirer l'activité"><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;Retirer</a>
                                <a class="btn btn-primary btn-sm" style="display: {%  if isPresent %}none{% else%}inline{% endif %}" href="#" name="addSituationActivite" id="addSituationActivite" title="Ajouter l'activité"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Ajouter</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="commentaires">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th width='100'>Date</th>
                    <th width='220'>Professeur</th>
                    <th>Commentaire</th>
                </tr>
                </thead>
                <tbody>
                {%  for commentaire in commentaires %}
                    <tr>
                        <td>{{ commentaire.datecommentaire | date("d/m/Y") }}</td>
                        <td>{{ commentaire.loginprofesseur.nomlong }}</td>
                        <td>{{ commentaire.commentaire }}</td>
                    </tr>
                {% else %}
                    <tr><td colspan="3">Aucun commentaire</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <input type="hidden" id="situationReference" value="{{ situation.reference }}" />


{% endblock %}

{% block javascripts %}
    {% javascripts
    'bundles/app/bootstrap/js/bootstrap-datepicker.js'
    'bundles/app/bootstrap/js/bootstrap-datepicker.fr.js'
    'bundles/app/js/situation.edit.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}